html {
  background: url(./backgrounds/f400290347611bd57a63728d10bc87131ad0d8a9.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#header {
  background-color: #181818;
}
body {
  background-color: rgba(18, 18, 18, 0.7);
}

#header {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
}

#title {
  display: inline-block;
  padding: 1em;
  flex-grow: 10;
}
.tab {
  display: inline-block;
  background-color: #282829;
  padding: 1em;
  transition: 0.3s;
  flex-grow: 1;
  text-align: center;
}
.tab:hover {
  background-color: #383838;
}

.hidden {
  display: none;
}