#header {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  background-color: #181818;
}
#title {
  display: inline-block;
  padding: 1em;
  margin-right: auto;
  flex-grow: 4;
}
.tab {
  display: inline-block;
  text-align: center;
  flex-grow: 1;
  background-color: #282829;
}
.tab a span {
  transition: 0.3s;
  display: inline-block;
  background-color: #282829;
  border: 2px solid transparent;
  border-radius: 3px;
  padding: 1em;
  width: 100%;
}
.tab a span:hover, .tab a:focus span, .tab a:active span {
  background-color: #383a3e;
}
.tab a:hover {
  text-decoration: underline;
}
.tab a span:hover {
  border: 2px solid #4c7dcf;
}
.tab a:focus span, .tab a:active span {
  border: 2px solid #39CCCC;
}
.tab a:focus, .tab a:active {
  border: none;
  outline: none;
  box-shadow: none;
  border-color: transparent;
}