body {
  display: grid;
  grid-template-areas:
    "header header header"
    "left content right"
    "footer footer footer";
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}

@media only screen and (max-width: 700px) {
  body {
    grid-template-areas:
      "header"
      "left"
      "content"
      "right"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto auto;
  }
}

/* padding */

body > div {
  padding: 16px;
}

/* background colors & grid area specifications */

#header {
  grid-area: header;
  background-color: rgba(255, 255, 0, 0.3);
}

#left {
  grid-area: left;
  background-color: rgba(255, 0, 0, 0.3);
}

#content {
  grid-area: content;
  background-color: rgba(0, 255, 0, 0.3);
}

#right {
  grid-area: right;
  background-color: rgba(0, 0, 255, 0.3);
}

#footer {
  grid-area: footer;
  background-color: rgba(0, 255, 255, 0.3);
}
